@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600&display=swap');

* {
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #e5f1fa;
    margin: 0;
}

.zoomEffect{
    transition: transform 0.3s ease;
}
.zoomEffect:hover{
    transform:scale(1.05);
}